extends layout

block variables
  var route = #{route}

block content
  div.container
    h1 Computers
    a(href='/room/304')
      button.waves-effect.waves-light.btn Room 304
    br
    br
    a(href='/room/312')
      button.waves-effect.waves-light.btn Room 312
    br
    br
    a(href='/room/327')
      button.waves-effect.waves-light.btn Room 327
    br
    br
    a(href='/room/333')
      button.waves-effect.waves-light.btn Room 333

        
