extends layout

block content
  div.row
   form.col.s6.offset-s3(method="POST")
     h3 Add Issue
     if error
       div.container
         ul.collection.with-header
           li.collection-header.indigo.lighten-5
             big #{error}
     div.row
       div.input-field.col.s6
         input(name="id" type="text" class="validate")
         label(for="id" class="active") Computer Number
       div.input-field.col.s12
         textarea.materialize-textarea(name="fill")
         label(for="fill") Issues
      div.row
        button.btn.waves-effect.waves-light(type="submit" name="action") Add Issue
