extends layout

block content
  div.container
    h1=title
    p An easy way of keeping track of the many CS computers in labs throughout the school.
    p You must login before you gain access to any of the pages.
    p Created by Young Kim, Franklin Wang, Aaron Wang, and Darwin Chiu.
