extends layout
  
block content
  div.container
    h1 Issues        
    ul.collection.with-header
      - each issue in issues
        li.collection-item.avatar.indigo.lighten-5
          - var level = parseInt(issue.level) + 1;
          case level
            when 1
              i.material-icons.circle.green
            when 2
              i.material-icons.circle.yellow
            default
              i.material-icons.circle.red
          span.title 
            b #{issue.name}
          p Description: #{issue.description}
          p Severity: #{level}
          a(class="modal-trigger modal-close" href="#modal1").secondary-content
            i.material-icons close
            
    div.modal(id="modal1")
      div.modal-content
        p Are you sure this issue has been fixed?
      div.modal-footer
        a(href="#" id="confirm" class="modal-action modal-close waves-effect waves-green btn-flat") Confirm
        a(href="#" class="modal-action modal-close waves-effect waves-red btn-flat") Cancel
        
  script.
    $(".modal-trigger").click(function(){
      $('#modal1').openModal();
    });
    $("#confirm").click(function(){
      
    });
