extends layout
block content
  div.container
    h1 Issues        
    ul.collection.with-header
      - var counter = 0;
      - each issue in issues
        - counter++;
        li.collection-item.avatar.indigo.lighten-5(id="li" + counter.toString())
          - var level = parseInt(issue.issueLevel) + 1;
          case level
            when 1
              i.material-icons.circle.green
            when 2
              i.material-icons.circle.yellow
            default
              i.material-icons.circle.red
          span.title 
            b #{issue.computerID}
          p Description: #{issue.description}
          p Severity: #{level}
          a(class="modal-trigger modal-close" href="#modal1").secondary-content
            i.material-icons close
            
    div.modal(id="check")
      div.modal-content
        p Are you sure this issue has been fixed?
      div.modal-footer
        a(href="#" id="confirm" class="modal-action modal-close waves-effect waves-green btn-flat") Confirm
        a(href="#" class="modal-action modal-close waves-effect waves-red btn-flat") Cancel
      
  // Show Confirm Modal When "X" Button is Clicked; Remove Div if Confirmed  
  script.
    var store = null;
    var id = null;
    $(".modal-trigger").click(function(){
      store = "#" + $(this).parent().closest('li').attr('id');
      id = $(this).parent().span('li');
      $('#check').openModal();
    });
    $("#confirm").click(function(){
      console.log(id);
      console.log("confirmed");
      $(store).remove();
    });
