doctype html
html
  head
    title=title

    // Materialize CSS
    link(rel="stylesheet", href="/stylesheets/materialize.min.css")
    // Materialize Icons
    | <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    // Normal CSS
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    // JQuery CDN
    | <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    // Materialize Javascript
    script(src="/javascripts/materialize.min.js")
    nav
      div.nav-wrapper.blue.darken-3
        a(href="/" class="brand-logo") &nbsp;&nbsp;Computer Labs
        a(href="#" data-activates="mobile-demo" class="button-collapse")
          i.material-icons menu
        ul.right.hide-on-med-and-down#nav-mobile
          li
            a(href="/computers") Computers
          li
            a(href="/issues") Issues
          li
            a(href="/login") Login
        ul.side-nav#mobile-demo
          li
            a(href="/computers") Computers
          li
            a(href="/issues") Issues
          li
            a(href="/login") Login
            
    block content
    // For the Resizable Navbar
    script.
      $( document ).ready(function(){
        $(".button-collapse").sideNav();
      });
      
