extends layout

block content
  nav
    div.nav-wrapper
      a(href="#" class="brand-logo") &nbsp;&nbsp;Computer Labs
      ul.right
        li
          a(href="#") Computers
        li
          a(href="#") Issues
        li
          a(href="/login") Login

  div.row
   form.col.s6.offset-s3
     h3 Login
     div.row
       div.input-field.col.s12
         input(id="username" type="text" class="validate")
         label(for="username" class="active") Name
     div.row
       div.input-field.col.s12
         input(id="password" type="password" class="validate")
         label(for="password" class="active") Password
      div.row
        button.btn.waves-effect.waves-light(type="submit" name="action") Submit
      div.row
        a(href="/signup") Don't have An Account? Sign Up Here
