extends layout
  
block content
  div.row
   form.col.s6.offset-s3(method="POST")
     h3 Login
     if error
       div.container
         ul.collection.with-header
           li.collection-header.indigo.lighten-5
             big #{error}
     div.row
       div.input-field.col.s12
         input(name="username" type="text" class="validate")
         label(for="username" class="active") Name
     div.row
       div.input-field.col.s12
         input(name="password" type="password" class="validate")
         label(for="password" class="active") Password
      div.row
        button.btn.waves-effect.waves-light(type="submit" name="action") Submit
      div.row
        a(href="/signup") Don't have An Account? Sign Up Here
